.dropdown {
  position: absolute;
  z-index: 2;
  align-self: center;
  top: 2.95rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 32%;
  overflow: auto;
  scroll-behavior: auto;
  height: 50%;
  border-radius: 4px;
  transition: 0.5s;
}

.dropdown::-webkit-scrollbar {
  width: 0.3rem;
}

.dropdown::-webkit-scrollbar-track {
  background: var(--gray-100);
  border-radius: 1px;
}

.dropdown::-webkit-scrollbar-thumb {
  background: #adadadb7;
  border-radius: 2px;
}

.dropdownContent {
  display: block;
  background-color: #ffffff;
  height: auto;

  :hover {
    background-color: #ddd;
  }
}

.link {
  padding: 0.25rem 0.8rem 1rem 0.8rem;
  text-decoration: none;
  display: flex;
  height: 3.7rem;
  flex-direction: column;
  align-content: center;

  .title {
    color: var(--gray-300);
    font-size: 1em;
  }

  .description {
    color: var(--gray-200);
    font-size: 0.7em;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@media (max-width: 768px) {

  .dropdown {
    width: 70%;
  }
}