.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  top: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
  background: var(--linear);
  padding-top: 0.3rem;

  .headerContainer {
    height: 3rem;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    margin-top: 0.3rem;
    justify-content: space-between;
  }

  .colLogo,
  .colSearch,
  .colNew {
    width: 33%;
  }

  .colLogo {
    align-items: start;
    flex-direction: column;
    display: flex;
  }

  .colNew {
    display: flex;
    justify-content: right;
    height: 100%;
       
    :nth-child(1) {
      margin-left: 1rem;
    }

    .signOut {
      font-size: 0.85rem;
      color: var(--purple-100);
      background: transparent;
      margin-bottom: 0.3rem;
      cursor: pointer;
      
      &:hover {
        color: var(--purple-150);
        filter: brightness(0.85);
        text-decoration: underline;
      }
                                                                                                               
    }

  }

}








@media (max-width: 728px) {
  .headerContainer {
    padding: 0rem;

    .colSearch {
      width: 70%;
    }

    .colLogo {
      width: auto;
      margin-right: 1rem;
    }

    .colNew{
      :nth-child(1) {
        margin-left: 0.5rem;
      }
    }

  }



}