.wrapper {
  height: 100%;
  height: auto;
}


.container {
  
  padding: 0 5rem  0 5.75rem ;
 
  position: relative;
  
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.nextEvent {
  width: 80%;
}

.list {
  list-style: none;
  width: 80%;
  height: 18.75rem;
  overflow: auto;
  scroll-behavior: auto;
  
}
   .list::-webkit-scrollbar {
    width: 0.4rem;
  }
  
  .list::-webkit-scrollbar-track {
    background: var(--purple-100);
    border-radius: 2px;
  }
  
  .list::-webkit-scrollbar-thumb {
    background: var(--gray-200);
    border-radius: 2px;
  } 




@media (max-width: 728px) {
    .container{
      padding: 0 1rem  0 1.75rem;
    }
  } 