.wrapper {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100vh;
  
  
  .container {
    position: relative;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    //min-height: 100vh
  }
}

.nextEvent , .otherEvents {
  width: 70%;
}

  .textMonthEvents{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0 0rem 0 ;

    :nth-child(1){
      color: var(--purple-300);
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1rem;
      
    }
    
    :nth-child(2){
      color: var(--gray-200);
      font-size: 0.85rem;
      
    }
  }

  .list {
    list-style: none;
    overflow: auto;
    scroll-behavior: auto;
    padding: 1rem 0 0 0.5rem;
    //border-left: solid 0.3px var(--purple-300);
    width: 70%;
    border-radius: 8px;
    box-shadow: inset 0 -1em 3em rgba(15, 1, 10, 0.1);
    margin-bottom: 2rem;
    
  }
  .list::-webkit-scrollbar {
    width: 0.3rem;
  }
  
  .list::-webkit-scrollbar-track {
    background: var(--purple-100);
    border-radius: 2px;
  }
  
  .list::-webkit-scrollbar-thumb {
    background: #adadadb7;
    border-radius: 2px;
  } 
  
  .listMonth {
    height: 16.5rem;
  }

  .listALL {
    height: 30rem;
  }

  .textAllEvents {
  display: block;
  color: var(--purple-300);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  width: 70%;
  margin-bottom: 0.5rem;

}

.divLogin {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--linear);

  .divSignIn {
    display: flex;
  flex-direction: column;
  align-items: center;
  //background: var(--gray-100);
  font-size: 0.8rem;
  padding: 2rem;
  width: 30%;
  height: auto;
  //border-radius: 8px;
  //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  //border: 1px solid var(--gray-200); 
}


.divTextLogin {
  display: flex;
  align-content: center;
  margin-top: 4rem;
}
.titleLogin {
    color: var(--purple-100);
    font-size: 1.2rem;
    margin-left: 0.2rem;
  }
} 
.btLogin {
  width: 100%;
  height: 3rem;
  border: 1.8px solid var(--purple-100);
  padding: 0.5rem;
  color: var(--purple-100);
  font-size: 1rem;
  font-weight: 300;
  border-radius: 25px;
  margin-top: 1.5rem;
  background-color: transparent;
  filter: drop-shadow(0px 1px 3px rgba(209, 183, 249, 0.57));

  &:hover{
    filter: brightness(0.8);
    cursor: pointer;
    color: var(--gray-100);
  }
  

}



@media (max-width: 728px) {
    .container{
      padding: 0 1rem  0 1rem;
    }

    .nextEvent , .otherEvents, .list {
      width: 100%;
    }

    .divSignIn {
      width: 80%;
      padding: 0rem;
      box-sizing:content-box;
    }
    .divTextLogin {
      flex-direction: column;
      align-items: center;
      text-align: center;
      line-height: 1.3rem;
    }
    .btLogin{
      border-radius: 16px;
      font-size: 0.8rem;
      width: 80%;
    }
  } 